body {
  font-family: Helvetica, Arial, sans-serif;
  background: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

img {
  width: 50px;
  height: auto;
}
